﻿
* {
    user-select: none;
}
.panel-body {
    padding: 15px;
}

.panel {
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}

.panel-default {
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

    .panel-heading > .dropdown .dropdown-toggle {
        color: inherit
    }

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit
}

    .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
        color: inherit
    }

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.testing .answer .letter {
    padding-right: 5px;
    min-width: 50px;
    vertical-align: top;
}

.testing .answer-item .letter {
    padding-top: 4px;
    float: left;
    width: 50px;
}

    .testing .answer-item .letter ~ td {
        float: left;
        width: calc(100% - 50px);
    }

.content_image *, .answer-item * {
    font-family: "Times New Roman", serif !important;
    color: #000;
}
