﻿* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.main-df, .main-tn {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    height: 100vh;
}

.main-tn {
    background-image: linear-gradient(to bottom, #89f7fe 0%, #66a6ff 100%);
}

.mainpage-main {
    background: linear-gradient(to right,#FFFFFF -27%,#6DD5FA,#2f93d4);
    height: 92.5vh;
}

.main__list {
    background: linear-gradient(to right,#FFFFFF -27%,#6DD5FA,#2f93d4);
    /*height: 100%;*/
    min-height: 643px;
}

/*---------------------------Timer------------------*/
.ten-countdown {
    border: 5px solid hsl(39, 100%, 50%);
    display: inline;
    padding: 5px;
    color: #F45C43;
    font-family: Verdana, sans-serif, Arial;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    top: 50%;
    left: 6px;
    border-radius: 17px;
}

.tracnghiem__button {
    position: fixed;
    top: 10%;
    right: -35px;
}
/*
    .ten-countdown:before {
        content: "Thời Gian";
        position: absolute;
        top: -60%;
        left: 0;
        font-size: 18px;
        display: block;
        width: 100%;
        color: #b51a1a;
    }*/
/*---------------------------Timer------------------*/
/*---------------------------Menu------------------*/


.Answer-input {
    width: 40%;
}

.navbar {
    padding: 0;
}

.navbar-nav.navbar__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link.nav-link-pd {
    padding: 15px 20px;
}

.slide__item img {
    height: 320px;
    width: 100%;
    object-fit: cover;
}

.slick-next,
.slick-prev {
    z-index: 1;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 7px;
}

    .slick-prev:before, .slick-next:before {
        color: #e84118;
        font-size: 35px;
        display: none;
    }

.navbar-brand img {
    height: 100px;
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.bg-light {
    transition: all 200ms linear;
}

.nav-link {
    position: relative;
    display: inline-block;
    font-size: 15px;
}

.nav-item:hover .dropdown-item {
    border-bottom: 1px dashed #ff4b2b;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #e84118;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.dropdown-item {
    padding: 10px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
    font-weight: 600;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 250ms linear;
}


.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: #e84118;
    font-weight: 600;
}

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .start-header.scroll-on {
        box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
        padding: 5px 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        z-index: 900;
    }

        .start-header.scroll-on .navbar-brand img {
            height: 70px;
            -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

.navigation-wrap {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 0;
    padding: 0px 150px;
    animation: 1s mymove ease;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

    .navbar-toggler:active,
    .navbar-toggler:focus {
        outline: none;
    }

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

    .navbar-light .navbar-toggler-icon:after,
    .navbar-light .navbar-toggler-icon:before {
        width: 24px;
        position: absolute;
        height: 1px;
        background-color: #000;
        top: 0;
        left: 0;
        content: '';
        z-index: 2;
        transition: all 300ms linear;
    }

    .navbar-light .navbar-toggler-icon:after {
        top: 8px;
    }

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #e84118 !important;
}

.nav-item.active .nav-link {
    color: #e84118 !important;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    right: 0.5rem;
    top: 0;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.dropdown-menu.dropdown-item__logout {
    min-width: 151px;
}

.menu__thucdon,
ul.menu__htgv {
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

    .menu__thucdon-item,
    ul.menu__htgv li {
        list-style: none;
        background: #fff;
        color: #fff;
        padding: 15px;
        font-size: 16px;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: 3px 5px 5px rgba(0,0,0,0.23);
        border-radius: 2px;
        margin: 0 1.7rem;
        transition: 0.5s;
        background-size: 200% auto;
        border-radius: 10px;
        background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
    }


        ul.menu__htgv li:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
        }

.event__title {
    font-size: 34px;
    font-weight: 600;
    color: #F45C43;
    margin: 0 auto;
    text-transform: uppercase;
    transition: linear 0.3s;
    text-align: center;
    padding: 27px 0;
}


/*List*/
.test-content {
    border-radius: 7px;
    background-color: #e6e4e6;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}


@media (max-width:1023px) {
    /*Menu*/
    .navbar {
        padding: 10px;
    }

    .navbar-nav.navbar__list {
        align-items: unset;
        padding-top: 80px;
        padding-left: 2rem;
    }

    .nav-item:after {
        display: none;
    }

    .dropdown-item {
        padding: 10px 15px;
        color: #212121;
        border-radius: 2px;
        transition: all 200ms linear;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    /*Menu*/
    .navbar-nav.navbar__list {
        padding-left: 2rem;
    }

    h1 {
        font-size: 38px;
    }

    .nav-item:after {
        display: none;
    }

    .nav-item::before {
        position: absolute;
        display: block;
        top: 22px;
        left: 1px;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 17px;
        left: 2px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }

    body.dark .nav-item::before {
        background-color: #fff;
    }

    body.dark .dropdown-toggle::after {
        background-color: #fff;
    }

    body.dark .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
    /*gend Menu*/

}

@media (min-width: 768px) and (max-width: 991.98px) {
    /*Menu*/
    nav-item::before {
        position: absolute;
        display: block;
        top: 19px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 18px;
        left: 1px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    /*ENDMENu*/
}



/*Card*/
.card__tracnghiem {
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    margin: 15px 0;
}

.card-header__test {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #FF4B2B;
}

.card-body__test img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.card-footer__test {
    text-align: center;
}

.candy {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(#FF416C, #FF4B2B);
    padding: 0.5rem 1.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 1px 0 #C03, 0 -1px 0 #F99, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    box-shadow: 0 6px 1px -8px rgba(0,0,0,.1), 0 0 5px -8px rgba(0,0,0,.1), 0 1px 3px -8px rgba(0,0,0,.3), 0 3px 5px -8px rgba(0,0,0,.2), 0 5px 10px -8px rgba(0,0,0,.25), 0 10px 10px -8px rgba(0,0,0,.2), 0 20px 20px -8px rgba(0,0,0,.15), inset 0 40px 0 -8px rgba(255,255,255, 0.1), inset 0 3px 0 0px rgba(255,255,255, 0.138);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .candy:hover {
        cursor: pointer;
        text-shadow: 0 1px 0 #C03, 0 -1px 0 #F99, 0 8px 6px rgba(60,0,0,.1), 0 2px 10px rgba(60,0,0,.1), 0 3px 8px rgba(60,0,0,.3), 0 5px 10px rgba(60,0,0,.2), 0 7px 15px rgba(60,0,0,.25), 0 12px 15px rgba(60,0,0,.2), 0 22px 25px rgba(60,0,0,.15);
        /* padding-top: 14px; */
        /* padding-bottom: 18px; */
        text-decoration: none;
        color: #fff;
    }

    .candy:active {
        text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
        padding-top: 8px;
        padding-bottom: 8px;
    }
/*Customer radio button*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        /*display: inline-block;*/
        color: #666;
        /*width: 40%;*/
    }

        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #333;
            border-radius: 100%;
            background: #fff;
        }

        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: blue;
            /*background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);*/ /* Chrome 10-25, Safari 5.1-6 */
            /*background: linear-gradient(to right, #ff416c, #ff4b2b);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        [type="radio"]:checked + label.checked__rdo:after {
            background: red;
        }

        [type="radio"]:checked + label.checked__rdoo:after {
            background: green;
        }

        /*#test [type="radio"]:checked + label.checked__rdo:after {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

#test [type="radio"]:checked + label.checked__rdoo:after {
    background: green;
}*/

        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

/*Trắc nghiệm details*/
.tracnghiem__content {
    border: 3px solid #b51a1a;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
    width: 97%;
    background: #fff;
    margin: 0 0 21px 0;
}


.bangdiem__heading,
.bangdiem__date,
.tracnghiem__heading {
    font-size: 30px;
    font-weight: 600;
    color: #F45C43;
    text-transform: uppercase;
    transition: linear 0.3s;
    text-align: center;
    margin-bottom: 27px;
    padding-top: 17px;
}

.tracnghiem__legend {
    width: unset;
    background: -webkit-linear-gradient(to right, #ed213a, #93291e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ed213a, #93291e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin: 0;
    padding: 0 7px;
}

.tracnghiem__question {
    font-size: 21px;
    background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2193b0, #4d92a2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;*/
    font-style: italic;
    font-weight: 600;
}

.tracnghiem-title__answer sub,
.tracnghiem-title__answer span {
    background-color: transparent !important;
}

.tracnghiem__box {
    display: flex;
    flex-wrap: wrap;
}

    .tracnghiem__box.tracnghiem__box--center {
        align-items: center;
        justify-content: center;
    }

label.tracnghiem-title__answer {
    font-weight: 600;
    color: #333;
    margin: 21px 0 0 0;
}

.button {
    text-decoration: none;
    font: 24px/1em 'Droid Sans', sans-serif;
    font-weight: bold;
    text-shadow: rgba(255,255,255,.5) 0 1px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .5em .6em .4em .6em;
    margin: .5em;
    display: inline-block;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border-top: 1px solid rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )) /*, url(noise.png)*/;
    background-image: -moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%) /*, url(noise.png*/ );
    background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )) /*, url(noise.png*/;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    color: hsl(0, 0%, 40%) !important;
    background-color: hsl(0, 0%, 75%);
    -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

    .button.glass {
        text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,0.18) 0 0.18em 0.15em;
    }

    .button.pink {
        transition: linear 0.3s;
        color: hsl(0deg 0% 100%) !important;
        background-color: hsl(39, 100%, 50%);
        -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    }

    .button.pink--md {
        z-index: 1;
        transition: linear 0.3s;
        color: #fff !important;
        background-color: #d83a3a;
        -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ #a72727 0 .1em 3px, #d83a3a 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ #a72727 0 .1em 3px, #d83a3a 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ #a72727 0 .1em 3px, #d83a3a 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    }

    .button.pink__finish {
        transition: linear 0.3s;
        color: #fff !important;
        background-color: #6ccd13;
        -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ #6ccd13 0 .1em 3px, #519612 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ #6ccd13 0 .1em 3px, #519612 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ #6ccd13 0 .1em 3px, #519612 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    }

        .button.pink__finish:active,
        .button.pink--md:active,
        .button.pink:active {
            box-shadow: none;
            transform: translateY(7px);
        }

        .button.pink__finish:hover,
        .button.pink--md:hover,
        .button.pink:hover {
            text-decoration: none;
        }

    .button.check__point {
        font: 19px/1em 'Droid Sans', sans-serif;
        transition: linear 0.3s;
        font-weight: 600;
        color: hsl(340, 100%, 30%) !important;
        background-color: hsl(340, 100%, 75%);
        -webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        -moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
        box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
    }

        .button.check__point:active {
            box-shadow: none;
            transform: translateY(7px);
        }

        .button.check__point:hover {
            text-decoration: none;
            background-color: hsl(340, 100%, 83%);
        }


.tracnghiem__button {
    text-align: center;
}

.round, .round.glossy:after, .round.glass:after {
    border-top: none;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

/*.button.glossy:after, .button.glass:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 60%;
    top: 0;
    left: 5%;
    -webkit-border-radius: .5em .5em 1em 1em / .5em .5em 2em 2em;
    -moz-border-radius: .5em .5em 1em 1em / .5em .5em 2em 2em;
    border-radius: .5em .5em 1em 1em / .5em .5em 2em 2em;
    background-image: -webkit-gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ), color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.55), rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,.5) );
    background-image: gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.55) ), to( rgba(255,255,255,.5) ), color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) );
}*/

.tracnghiem-answer__image {
    max-width: 100%;
    height: 217px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 21px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}

.tracnghiem__image--box {
    text-align: center;
}

.tracnghiem__video {
    height: auto;
    max-width: 100%;
    border-radius: 17px;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
}

    .tracnghiem__video:focus {
        outline: none;
    }

.tracnghiem__ytb {
    text-align: center;
}
/*Popup*/
.popupPoint {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: linear 0.3s;
    transform-origin: center;
    transform: scale(0.7);
    /*background-color: black;*/
}

.popup__times {
    cursor: pointer;
    font-size: 25px;
    color: #b51a1a;
}

.popupPoint.popup__show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: linear 0.3s;
}

.popup__content {
    max-width: 100%;
    width: 500px;
    height: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: linear 0.3s;
    opacity: 0;
    visibility: hidden;
}

    .popup__content.popup__content--point {
        width: 1000px;
    }

        .popup__content.popup__content--point.popup__show {
            height: auto;
        }

    .popup__content.popup__show {
        top: 50%;
        transition-delay: 0.2s;
        opacity: 1;
        visibility: visible;
    }

.popup__body.popup__body-point {
    padding: 17px;
}

.modal-point-content {
    max-width: 1000px;
}

.modal__point {
    background-color: #fff;
}

.point__img {
    width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.popup__heading {
    margin-bottom: 20px;
}

.popup__point {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.point {
    font-size: 22px;
    color: #b51a1a;
    font-weight: 600;
}

    .point span:first-child {
        color: #17a2b8;
    }

.baitap__content.baitap__show,
.main-bangdiem,
.main__tracnghiem {
    /*background-image: url("/images/back2.jpg");*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
}

.baitap__content.baitap__show {
    height: unset;
}

#check__none {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
}
/*.main__tracnghiem{
        position:relative;
    }*/
.pink--md {
    position: absolute;
    top: 10px;
    left: 15px;
}

.bangdiem__content {
    background-color: #fff;
    border-radius: 13px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    margin-bottom: 17px;
    /*color: red;*/
}

/*.table__point-head {
    font-size: 17px;
}

.table__point td,
.table__point th {
    vertical-align: middle;
}

    .table__point td:last-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .table__point td:last-child {
        text-align: center;
    }*/
/*.modal__point button {
    cursor: pointer;
}*/

.span-icon__popup,
h4.popup__heading-point {
    color: #b51a1a;
    font-weight: 600;
}

.baitap__content {
    display: none;
}

    .baitap__content.baitap__show {
        display: block;
    }

.tracnghiem__content-box .tracnghiem__question .content_image p {
    color: #333 !important;
}

.tracnghiem__box-main {
    width: 50%;
}
